<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- create a beautiful hello world template -->
  <h1 style="text-align: center; color: blue;">{{message}}</h1>
  <p style="text-align: center; font-size: 20px;">Welcome to my first django app!</p>
  <p style="text-align: center; font-size: 18px;">This is a simple web application built with django.</p>
  <p style="text-align: center; font-size: 18px;">Feel free to explore and learn more about django.</p>
  <p style="text-align: center; font-size: 18px;">This is the new version--</p>
</body>
</html>